@using Microsoft.AspNetCore.Identity
@inject SignInManager<Users> signInManager
@inject UserManager<Users> userManager
@{
    
}

<ul class="navbar-nav ms-auto fw-bold">
    @if (signInManager.IsSignedIn(User))
    {
        var user = userManager.Users.FirstOrDefault(x => x.Email == userManager.GetUserName(User));
        string name = user.Name;
        <li class="nav-item">
            <a class="nav-link" asp-controller="Home" asp-action="Profile"><i class="bi bi-person-circle mx-2"></i>@name</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Admin" asp-action="Index">Admin Manager</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Student" asp-action="Index">Student Manager</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Login" asp-action="Logout"><i class="bi bi-box-arrow-right mx-2"></i>Logout</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-controller="Login" asp-action="Register"><i class="bi bi-person-arms-up mx-2"></i>Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Login" asp-action="Login"><i class="bi bi-person-circle mx-2"></i>Login</a>
        </li>
    }
</ul>
