@model Identity_MVC_App.ViewModels.ForgetPasswordViewModel
@{
    ViewData["title"] = "Forget Password";
}

<div class="container-fluid my-5">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-6">
            <div class="card shadow-sm">
                <div class="card-header bg-primary text-white">
                    <h4 class="mb-0 text-center">Reset Your Password</h4>
                </div>
                <div class="card-body">
                    <p class="text-muted text-center mb-4">Enter your registered email below and we will sendyou instructions to reset your password</p>
                    @* Vallidation summery *@
                    <form method="post" asp-action="ForgetPassword" asp-controller="Login">
                        <div asp-validation-summary="All" class="alert alert-danger" role="alert" style="display:none;"></div>
                        @* Email input *@
                        <div class="form-group mb-3">
                            <label asp-for="Email" class="form-label fw-bold">Email address</label>
                            <input asp-for="Email" class="form-control" placeholder="Enter your email address" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        
                        @* Submit button *@
                        <div class="d-grid">
                            <button type="submit"class="btn btn-primary btn-lg">Send reset link</button>
                        </div>
                    </form>
                </div>
                <div class="card-footer text-center">
                    <p class="mb-0">
                        <a asp-controller="Login" asp-action="Login" class="text-primary text-decoration-none">Back to Login</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>