@model Identity_MVC_App.ViewModels.RegisterViewModel

@{
    ViewData["Title"] = "Register User";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6  p-4 regbody">
            <h1 class="mb-4 bg-white p-3 text-center">Register</h1>
            <div asp-validation-summary="ModelOnly"class="text-danger" ></div>
            <form method="post" >
                <div class="mb-3 fw-bold">
                    <label asp-for="Name" class="form-label"></label> 
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="mb-3 fw-bold">
                    <label asp-for="Email" class="form-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="mb-3 fw-bold">
                    <label asp-for="Password" class="form-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="mb-3 fw-bold">
                    <label asp-for="ConfirmPassword" class="form-label"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="mb-3 fw-bold">
                    <input type="submit" class="btn btn-primary" value="Register" />
                </div>
                <p class="text-center">Already have an account?<a asp-controller="Login" asp-action="Login" class="text-decoration-none" >Login</a></p>
                <div class="text-center">
                    <a asp-controller="Home" asp-action="Index" class="text-decoration-none">Back</a>
                </div>
            </form>
        </div>
    </div>
</div>
